<h1>Abuela Sorda</h1>

<form action="/response" method="POST">
  <label for="str">Di algo abuela:</label><br>
  <input type="text" name="reply" id="str"></input>
  <input type="submit" value="Dilo!"></input>
</form>
